#blogfeed {
    border: 2px solid;
    width: 250px;
    h3 { 
	text-align: center;
	text-color:green;
	size: 70px;
    }

    p { 
	alignment:right;
    }
}

.post {
    border-bottom: 1px solid black;
}