#header{
    width:100%;
    position:absolute;
    left:0;
    top:0;
    height:110px;
    background-color:black;
    h1{
	font-size: 80px;
	position:relative;
	top:40px;
	width:80%;
	font-family:Verdana;
	text-decoration:none;
	color: white;
	display:inline; 
    }
}

