<div  class="content">
  <h3>Criminals</h3>
  <p>It's no secret that the financial sector tends not to attract the most scrupulous individuals, so how do you really know who to trust? It's not just money after all, money is just the intermediate, it's safety, it's security, it's a comfortable retirement but most of all it's piece of mind. TO the unitiated the world of Single Input Personal Pensions or SIPPs can seem disconcertingly complex with a bafflingly wide array of products available.</p>
  <p>
    The level of advice required for a sipp of course varies from person to person, depending on their income level, their requirements for Sipp performance, their attitudes to risk and a host of more personal factors.
    For a large number of people an off the shelf solution will be more than sufficient, it's easier, less time consuming and the knowledge that you will be in exactly the same boat as numerous others is often reassuring. However, just as there are those willing to spend a little extra time and money to get a tailor made suit, there are those for whom a bespoke SIPP will be more appropriate, allowing both a greater degree of creativity with it's design and flexibility in its control.
  </p>
</div>
