<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Kansas City Pensions", '/welcome/index', id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home",    '/welcome/index' %></li>
          <li><%= link_to "Help",    '#' %></li>
          <li><%= link_to "Sign in", '#' %></li>
        </ul>
      </nav>
    </div>
  </div>
  <div id="topButtons">
    <a href="#" id="guide"><span>Guide</span></a>
    <a href="#" id="sippProv"><span>Sipp Providers</span></a>
    <a href="#" id="why"><span>Why?</span></a>
    <a href="#" id="how"><span>How?</span></a>
    <a href="/posts" id="who"><span>Blog</span></a>
    <a href="#" id="forum"><span>Forum</span></a>
  </div>
</header>
