<!DOCTYPE html>
<html>
  <head> 
    <title>
      Kansas City Pensions: Honest Pension Advice
    </title>
  </head>

  <body>
    <%= render "partials/header" %>

    <%= render "partials/blogfeed" %>

    <%= render "partials/footer" %>
  </body>
</html>
