<!DOCTYPE html>
<html>
  <head> 
    <title>
      Kansas City Pensions: Honest Pension Advice
    </title>
  </head>

  <body>
    <%= link_to controller: 'welcome' do %>
      <div id="header">
	<h1>Kansas City Pensions</h1>
      </div>
    <% end %>

    <%= render "partials/topButtons" %>
    
    <div id="Main">
      <div id="cartoon">
	<%= image_tag("xtraNormal.jpg", alt: "xtra normal image") %>
      </div>
    </div>

    <%= render "partials/blogfeed" %>
  </body>
</html>
