/* footer */
.footer {
  bottom: 20px;
  width: 99.8%;
  position: fixed;
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
  footer a {
    color: #555;
    &:hover {
	text-color: #334;
    }
  }
}

.footer small {
  float: left;
}

.footer ul {
  float: right;
  list-style: none;
}

.footer ul li {
  float: left;
  margin-left: 10px;
}