#header{
    width:100%;
    position:absolute;
    left:0;
    top:0;
    height:110px;
    background-color:black;
    h1{
	font-size: 80px;
	position:relative;
	top:40px;
	width:80%;
	font-family:Verdana;
	text-decoration:none;
	color: white;
	display:inline;
    }
}

#topButtons {
    position:absolute;
    display:table;
    table-layout:fixed;
    top:40px;
    left:0;
    width:100%;
    z-index:2;
    a{
	display:table-cell;
	text-align:center;
	border:5px solid black;
	color:black;
	text-decoration:none;
	span{
	    font-size:20px;
	    text-transform:uppercase;
	    font-family:Gill sans;
	    font-weight:normal;
	    font-style:none;
	} 
	&:hover{
	    color:white;
	    background:black;
	}
    }

    #guide{
	background:#E18728;
	&:hover{
	    background:black;
	}
    }

    #sippProv{
	background:#CCCCCC;
	&:hover{
	    background:black;
	}
    }

    #why{
	background:#4472B9;
	&:hover{
	    background:black;
	}
    }

    #how{
	background:pink;
	&:hover{
	    background:black;
	}
    }

    #who{
	background:orange;
	&:hover{
	    background:black;
	}
    }

    #forum{
	background:purple;
	&:hover{
	    background:black;
	}
    }
}

