@import 'bootstrap';
@import 'header';
@import 'blogfeed';
@import 'footer';

html { 
    overflow-y: scroll;
    background-color:#AAABBB;
}

body { 
    padding-top: 60px;
    background-color:#AAABBB;
}

textarea {
    resize: vertical;
    background-color:#AAABBB;
}

#logo {
    float: left;
    margin-right: 10px;
    font-size: 1.7em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -1px;
    padding-top: 9px;
    font-weight: bold;
    line-height: 1;
}

#logo:hover {
    text-color: #ddd;
    text-decoration: none;
} 


