// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body {
    background-color:#AAABBB;
    color:#AAABBB;
    bgcolor:#AAABBB;
}

table {
    background-color:#AAABBB;
}

h1 {
    background-color:#AAABBB;
}

#head {
    alignment:center;
    color:#AAABBB;
    background-color:#AAABBB;
}